.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.but{
    width: 4rem;
    height: 3rem;
    border-radius: 10%;
    background-color: rgb(1, 234, 1);
    font-weight: 600;
    color: black;
    border: none;
}

.but:hover {
    background-color: rgb(2, 186, 2);
}