body{
    margin: 0;
}

.mainContainer{
    display: flex;
    justify-content: center; 
}

.masterMindContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(fa.jpg);
    background-size: 50%;
    width: 100%;
}

.newPlayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowContainer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.black, .white, .zero{
    width: 1rem;
    height: 1rem;
    border: 0.04rem solid black;
    border-radius: 50%;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.colorCircle{
    width: 3rem;
    height: 3rem;
    border: 0.04rem solid black;
    border-radius: 50%;
}
    
.colorCircle1 {
    background-color: red;
}
.colorCircle2 {
    background-color: blue;
}
.colorCircle3 {
    background-color: yellow;
}
.colorCircle4 {
    background-color: green;
}
.colorCircle5 {
    background-color: brown;
}
.colorCircle6 {
    background-color: purple;
}
.colorCircle7 {
    background-color: black;
}
.colorCircle8 {
    background-color: white;
}

@media screen and (min-width: 1024px) {

    
    .masterMindContainer{
        flex-direction: row;
        justify-content: center;
    }
    
    .newPlayContainer{
        width: 40%;
        padding: 0.5rem;
    }
}
