.colorBox{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .colorBox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}
