.mainContainer{
    display: flex;
    flex-direction: row;
}

.rowContainer {
    display: flex;
    flex-direction: column;
}

.colorBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box, .chooseBox{
    display: flex;
    flex-direction: row;
}

.hitsContainer{
    display: flex;
    flex-direction: column;
}

.hitsBox{
    display: flex;
    flex-flow: wrap;
    width: 5rem;
}

.perfectHit, .goodHit{
    width: 2rem;
    height: 2rem;
    border: 0.08rem solid black;
    border-radius: 50%;
}

.perfectHit{
    background-color: black;
}

.goodHit{
    background-color: white;
}

.colorCircle {
    width: 6rem;
    height: 6rem;
    border: 0.08rem solid black;
    border-radius: 50%;
    background-color: none;
}

.colorCircle1 {
    background-color: red;
}
.colorCircle2 {
    background-color: blue;
}
.colorCircle3 {
    background-color: yellow;
}
.colorCircle4 {
    background-color: green;
}
.colorCircle5 {
    background-color: brown;
}
.colorCircle6 {
    background-color: purple;
}
.colorCircle7 {
    background-color: black;
}
.colorCircle8 {
    background-color: white;
}